<div class="container">
    <div class="row">
        <div class="col-12 my-4">
          <table class="table table-striped" id="users-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo documento</th>
                <th scope="col">Documento</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de nacimiento</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
    </div>
</div>
